
#spinnybtn {
  display: none;
  margin-left: 86.5%;
}

.puntmod{
  display: none;
}

#name {
  margin-left: 77.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  font-weight: 700;
  color: white;
}

#tabb {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

.input-group mb-3{
  width: 5%;
}

div[name='tabbtn'] {
  display: none;
}

.punteggio:hover {
  background-color: rgba(7, 153, 255, .5);
  cursor: pointer;
}

#searchuser {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

#removebtn {
  display: none;
  box-shadow: 2px 2px 2px black; 
  margin-left: 10%;
}

#errorNF {
  display: none;
  text-align: center;
  background-color: red;
  width: 40%;
  height: fit-content;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

#errorMX {
  font-size: 300%;
  font-weight: 700;
  color: white;
}

