.admin {
  display: none;
}

#checkboxIns {
  margin-left: 5%;
}

#adminInstxt {
  margin-left: 1.5%;
  font-size: 120%;
  font-family: Tahoma, Geneva, sans-serif;
}

#errorUser {
  margin-left: 5%;
  width: 40%;
  display: none;
  background-color: red;
}

#errorUser span {
  font-weight: 600;
  margin-left: 10%;
  color: white;
}

#filter {
  color: black;
  background-color: lightgrey;
}

#btnall {
  cursor: pointer;
  display: none;
}

#btnadmin {
  display: block;
  cursor: pointer;
}

#btnmod {
  display: block;
  cursor: pointer;
}

#insertbtn {
  margin-left: 80%;
  margin-top: 2%;
  box-shadow: 2px 2px 2px black;
}

#name {
  margin-left: 77.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  font-weight: 700;
  color: white;
}

.line:hover {
  background-color: rgba(7, 153, 255, .5);
  cursor: pointer;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 40%;
}

#tabb {
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }
  
  #searchuser {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }

  