#tabbIrrisolte{
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  
}

#tabbConsegna{
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  display : none;  
}

#tabbRisolte{
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  display : none;  
}




.line:hover {
  background-color: rgba(7, 153, 255, .5);
  cursor: pointer;
}


#name {
  margin-left: 77.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  font-weight: 700;
  color: white;
}
 

#tipoSegn {
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: 700;
    color: white;
  
  }

  #bott{
    padding: 16px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid  red;
    
  }
  
  #bottConsegne{
    margin-left: 24%;    
    margin-top: 1%;
    color :white;
    background-color:black;
    border : 2px solid black;
    font-size: 24px;
    border-radius: 12px;
  }