#tabbIrrisolte{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    
   
    
  
   
  }

  #tabbRisolte{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    display : none;
 
    
    
  }
  #name {
    margin-left: 77.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: 700;
    color: white;
  }
   
  
  #tipoSegn {
      margin-left: 10%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 200%;
      font-weight: 700;
      color: white;
    
    }

    #bott{
      padding: 16px;
      border-radius: 50%;
      background-color: red;
      border: 2px solid  red;
      
    }
  
   