<configuration>

  <appender name="FILE1" class="ch.qos.logback.core.FileAppender">
    <file>./logs/LoginController.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE2" class="ch.qos.logback.core.FileAppender">
    <file>./logs/Hibernate.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE3" class="ch.qos.logback.core.FileAppender">
    <file>./logs/GenericController.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE4" class="ch.qos.logback.core.FileAppender">
    <file>./logs/GenericBusiness.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="LoginControllerWeb" level="DEBUG">
    <appender-ref ref="FILE1" />
  </logger>
<logger name="org.hibernate" level="DEBUG">
    <appender-ref ref="FILE2" />
  </logger>
  <logger name="controller" level="DEBUG">
    <appender-ref ref="FILE3" />
  </logger>
  <logger name="business" level="DEBUG">
    <appender-ref ref="FILE4" />
  </logger>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>