<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pro.team.ctfly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_ctfly_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ctfly_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".PodioActivity"></activity>
        <activity android:name=".SuccessActivity" />
        <activity android:name=".GeneraQuizP2Activity" />
        <activity android:name="Fragment.PodioFragment" />
        <activity android:name="Fragment.ProfileImageFragment" />
        <activity android:name="Fragment.ProfileFragment" />
        <activity android:name=".GameActivity" />
        <activity android:name=".StartGameActivity" />
        <activity android:name=".GeneraQuizActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>